{% extends 'header.html' %}
{% load static %}
{% block content %}

<div class="con">
    <form action="{%url 'search_medicine'%}" method="GET">
        {%csrf_token%}
        <input type="search" class="search" name="q" value="{{q}}">
        <button type="submit" class="search-btn">Search</button>
    </form>

    <div class="choose">
        <div class="column">
            <form action="{%url 'button_search_medicine'%}" method="GET">
                {%csrf_token%}
                <button value="품종" name="part" class="deepblue">품종</button>
            </form>
        </div>
        <div class="column">
            <form action="{%url 'button_search_medicine'%}" method="GET">
                {%csrf_token%}
                <button value="눈" name="part" class="deepblue">눈</button>
            </form>
        </div>
        <div class="column">
            <form action="{%url 'button_search_medicine'%}" method="GET">
                {%csrf_token%}
                <button value="기관지" name="part" class="deepblue">기관지</button>
            </form>
        </div>
        <div class="column">
            <form action="{%url 'button_search_medicine'%}" method="GET">
                {%csrf_token%}
                <button value="배변" name="part" class="deepblue">배변</button>
            </form>
        </div>
        <div class="column">
            <form action="{%url 'button_search_medicine'%}" method="GET">
                {%csrf_token%}
                <button value="코" name="part" class="deepblue">코</button>
            </form>
        </div>
        <div class="column">
            <form action="{%url 'button_search_medicine'%}" method="GET">
                {%csrf_token%}
                <button value="상태" name="part" class="deepblue">상태</button>
            </form>
        </div>
        <div class="column">
            <form action="{%url 'button_search_medicine'%}" method="GET">
                {%csrf_token%}
                <button value="신경/근육" name="part" class="deepblue">신경/근육</button>
            </form>
        </div>
        <div class="column">
            <form action="{%url 'button_search_medicine'%}" method="GET">
                {%csrf_token%}
                <button value="상처" name="part" class="deepblue">상처</button>
            </form>
        </div>
        <div class="column">
            <form action="{%url 'button_search_medicine'%}" method="GET">
                {%csrf_token%}
                <button value="기타" name="part" class="deepblue">기타</button>
            </form>
        </div>
        
    </div>
    <hr class='line'>
    <!--선긋기-->
    <button>
        <a href="{%url 'mreview_register' %}">약품 리뷰 등록</a>
    </button>
    <!-- <div class="result">
        해당 결과가 없습니다
    </div>
    
    <div class="new">
        최근 리뷰
    </div>
    <div class="new-review">
        <div class="reivew-con"></div>
        <div class="reivew-con"></div>
        <div class="reivew-con"></div>
    </div> -->
    <div class="hreviewArticleContainer">
        <h1>최근 리뷰</h1>
        {%for review in mreview%}
        <article class="hreviewArticle">
            <a href="{%url 'mreview_detail' review.id%}">
                <p><img src="{{review.image.url}}" alt=""></p>
                <h3>{{review.medicine}}</h3>
                <h5>{{review.nickname}}</h5>
                <h5>{{review.part}}</h5>
                <h5>{{review.date}}</h5>
            </a>
        </article>
        {%endfor%}
    </div>
</div>
{% endblock %}