{% extends 'header.html' %}
{% load static %}
{% block content %}

<div class="detailHeader">
    <h1>{{mreview.medicine}}</h1>
</div>
<hr class='line'>
<!--선긋기-->
<div class="detailContent">
    <div>
        <img src="{{mreview.image.url}}" alt="">
        <!--프로필 사진-->
        <table class="detail-con">
            <tr>
                <td><h4>작성자&nbsp&nbsp</h4></td>
                <td>{{mreview.nickname}}</td>
            </tr>
            <tr>
                <td><h4>날짜</h4></td>
                <td>{{mreview.date}}</td>
            </tr>
            <tr>
                <td><h4>분류</h4></td>
                <td>{{mreview.part}}</td>
            </tr>
            
            <tr>
                <td colspan="2"><br>{{mreview.body}}</td>
            </tr>
        </table>
        
    </div>
    
</div>
{% endblock %}